---
---



#sidebar H2 a {
  line-height: 1.8;
  color: #474747;
}

header .inner {
  display: flex;
}

header .inner #logo {
  flex: 0;
}

header .inner #title {
  flex: 1;
  margin-top: 25px;
}

header .inner {
  margin-top: -25px;
  margin-bottom: -25px;
}
